/* Common or Universal CSS start from here */
* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    overflow-x: hidden;
}

/* ul,
ol,
li {
    list-style: none;
} */

/* a,
a:hover {
    text-decoration: none;
} */

/* Common or Universal CSS end here */

/* Shared CSS start here */
.primary-btn {
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 36px;
}

.secondary-btn {
    border: 1s solid #FD6E0A;
    border-radius: 5px;
    background: transparent;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 36px;
}

.section-tittle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Shared CSS end here */

/* Navbar part CSS start from here */
.header {
    background-color: #FFF8F3;
}

nav {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.logo span {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Navbar part CSS end here */

/* Banner part CSS start from here */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
    background: url(../images/header_bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.banner-content {
    width: 585px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-tittle {
    color #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-text {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-content .cv-button {
    margin-right: 30px;
}

.banner-img>img {
    width: 500px;
}

/* Banner part CSS end here */

/* Main part CSS start from here */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About part CSS start from here */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about-info {
    text-align: center;
    margin-top: 30px;
}

.about-info-tittle {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.about-info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
/* About part CSS end here */
/* Main part CSS end here */